
button {
  width: 70px;
  height: 70px;
  line-height:5px;
  font-size : 6px;
  margin: 0;
}
button[title = "white"] {
  background-color : grey;
  z-index: 1;
}

button[title = "black"] {
  background-color : brown;
  z-index: 1;
}
button:hover {
  background-color : coral;
}


.aa {

}

.aa1 {
  background-color : aqua;
}
button.PAWN_WHITE{
  color : red;
  background-image: url(/assets/img/whitePawn.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50px;
  z-index: -1;
}

button.PAWN_BLACK{
  color : red;
  background-image: url(/assets/img/blackPawn.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50px;
  z-index: -1;
}

button.BISHOP_WHITE{
  color : red;
  background-image: url(/assets/img/whiteBishop.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50px;
  z-index: -1;
}

button.BISHOP_BLACK{
  color : red;
  background-image: url(/assets/img/blackBishop.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50px;
  z-index: -1;
}

button.KING_BLACK{
  color : red;
  background-image: url(/assets/img/blackKing.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50px;
  z-index: -1;
}

button.KING_WHITE{
  color : red;
  background-image: url(/assets/img/whiteKing.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50px;
  z-index: -1;
}

button.TURRET_WHITE{
  color : red;
  background-image: url(/assets/img/whiteCastel.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50px;
  z-index: -1;
}

button.TURRET_BLACK{
  color : red;
  background-image: url(/assets/img/blackCastel.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50px;
  z-index: -1;
}

button._threats{
  color : red;
  background-color : deepskyblue;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50px;
  z-index: -1;
}



